/*--- Grundläggande sidinställningar (från template) ---*/
body {
    padding: 1vw;
    font-family: 'Palatino', 'Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', 'Georgia,serif';
    line-height: 1.5;
    font-size: 1.1vw;
    width: 100%;
}

/*--- Gemensam centrering för sidhuvud, navigation och sidfot (från template) ---*/
h1,h2, nav, footer {
    text-align: center;
}

/*--- Navigationsmeny (från template) ---*/
nav {
    margin-bottom: 1vw;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 1vw;
    font-size: 1.3vw;
}

/*--- Styling för rubriker/headers (från template) ---*/
h1,
h2,
h3{
    padding-top: 1vw;
    padding-bottom: 1vw;
}

/*--- Styling för sidfoten (från template) ---*/
footer {
    border-top: 1px solid black;
    padding-top: 1vw;
    margin-top: 1.5vw;
}

.copyright {
    width: 50%;
    margin: auto;
}

/*--- Klass för en rad i layoutsystemet (från template) ---*/
.row {
    padding: 0.5vw;
}

/*--- Klass för en kolumn ---*/
.column{
    float: left;
    width: 25%;
    padding: 1vw;
}

/*--- Specifik kolumnstyling för index.html ---*/
main#omprojektet  {
margin-bottom: 0.5em;
}

/*--- Specifik styling för rubrik/header h3 ---*/
h3 {
  text-align: left;
}

/*--- Innehålla flytande (.column) element inom en .row (t.ex. i TEI) ---*/
.row::after {
    content: "";
    clear: both;
    display: table;
}

.button-back {
  float: left;
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 14px 28px;
  cursor: pointer;  
}

.button-default {
  border-color: #e7e7e7;
  color: black;
}

.button-default:hover {
  background: #e7e7e7;
}

/*--- Formatera bildgaleriet ---*/
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1vw;
}

/*--- Preview bildstorlek. Ta bort listpunkter framför. ---*/
.gallery > li {
    flex-basis: 300px; 
list-style-type: none;  
}

/*--- Skugga över bilder ---*/
.gallery li a:hover img {
    opacity: 0.7;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

/*--- Grundläggande stylning för bilder i galleriet ---*/
.gallery li img {
    object-fit: cover;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-radius: 5px;
}

/*--- Fyller ut tomt utrymme (det finns ojämnt antal bilder) ---*/
.gallery::after {
    content: "";
    flex-basis: 350px;
}

/*--- Styling för bildbeskrivning ---*/
.desc {
    padding: 15px;
    text-align: center;
}

/*--- Gemensam stylning för delar som visar metadata ---*/
.metadata-section, .linked-metadata-section { 
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #f2f4ef;
    background-color:#f6f6f3;
}

/*--- Bold (text i metadata sidan) ---*/
.label { 
    font-weight: bold;
 }

/*--- Formatering för tabell i metadata sidan ---*/
table.linked-meta { 
    width: 100%;
    border-collapse: collapse;
 }

/*--- Formatering för tabell i metadata sidan (th (table header), td (table data cell)) ---*/
table.linked-meta th, table.linked-meta td { 
    text-align: left;
    padding: 8px;
    border: 1px solid #8a8a84;
 }

table.linked-meta th { 
    background-color: #d1d1cb;
 }

/*--- Styling för enskilda bild sidor ---*/
  div.image-section {
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    box-sizing: border-box;
 }

/*--- Styling för bilder i bild sidor ---*/
 div.image-section img {
    width: 100%;
    height: auto;
    display: block;
 }